{#

  - "variant" (string) (default: 'default'): can be used if need a variant of the header
  - "breadcrumb" (array)  (default: []): collection of @ecl/generic-component-link
  - "identity" (string) (default: ''): name of the site, i.e. "Site identity"
  - "group_name (string) (default: ''): name of the group"
  - "group_image (object) width
      - srcs (object with different image url, depending the screensize)
      - alt (string)
  - "group_url (default: ''): path to group landing page
  - "group_join (default: ''): join a group button
  - "extra_classes" (string) (default: '')
  - "system" (string) (default: "generic")
  - "metas" (array) (default: []): array of strings ; each one corresponds to a meta item

  'extra_attributes': [
                 { 'name': 'role', 'value': 'button'},
                 { 'name': 'id', 'value': 'JoinGroupButton' },
                 { 'name': 'aria-label', 'value': group_join.label },
               ],


#}

{% set _variant = variant|default('') %}
{% set _identity = identity|default('') %}
{% set _breadcrumb = breadcrumb|default([]) %}
{% set _group_name = group_name|default('') %}
{% set _group_image = group_image|default('') %}
{% set _group_url = group_url|default('') %}
{% set _group_join = group_join|default('') %}
{% set _metas = metas|default([]) %}
{% set _css_class = 'ecl-page-header' %}

{% set _primary_image = primary_image|default({}) %}

{# Internal logic - Process properties #}

{% if _variant is not empty %}
  {% set _css_class = _css_class ~ ' ecl-page-header--' ~ _variant %}
{% endif %} 

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %} 

<div class="{{ _css_class }}">
  <div class="ecl-container">
    {% if _breadcrumb is not empty %}
      {% include '@ecl/generic-component-breadcrumb' with {
        'segments': _breadcrumb,
        'system': _system
      } only %}
    {% endif %}

  
    {% if _group_image is not empty or _identity is not empty or _metas is not empty or _group_name is not empty %}
      <div class="ecl-page-header__body">
        {% if _group_image is not empty %}
          <div class="bl-page-header__group-image">
            <a href="{{ group_url }}">
              {% include '@ecl/generic-style-image' with { 
                'srcs': group_image.srcs,
                'alt': group_image.alt,
              } only %}
            </a>
          </div>
        {% endif %}
          
        {% if _identity is not empty or _group_name is not empty or _metas is not empty %}   
          <div class="bl-page-header__group-info">
            {% if _identity is not empty %}
              <div class="ecl-page-header__identity">
                {{ _identity }}
              </div>
            {% endif %}      
            {% if _group_name is not empty %}
              <div class="ecl-page-header__title">
                <a href="{{ group_url }}">
                  <h1 class="ecl-heading ecl-heading--h1 ecl-u-color-white">{{ _group_name }}</h1>
                </a>
              </div>
            {% endif %}
            {% if _metas is not empty %}
              <div class="ecl-page-header__meta">
                {% include '@ecl/generic-component-meta' with {
                  'variant': 'header',
                  'metas': _metas
                } only %}
              </div>
            {% endif %}
          </div>
        {% endif %}                    
        
        {% if _group_join is not empty %}
          <div class="bl-page-header__join">
            {% include '@ecl/generic-component-button' with {
              'modifier': group_join.modifier,
              'href': group_join.href,
              'label': group_join.label,
              'extra_attributes': group_join.extra_attributes,
            } only %}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>