{#

  - "variant" (string) (default: 'default'): can be used if need a variant of the header
  - "breadcrumb" (array)  (default: []): collection of @ecl/generic-component-link
  - "identity" (string) (default: ''): name of the site, i.e. "Site identity"
  - "group_name (string) (default: ''): name of the group"
  - "group_image (object) width
      - srcs (object with different image url, depending the screensize)
      - alt (string)
  - "group_url (default: ''): path to group landing page
  - "group_join (default: ''): join a group button
  - "extra_classes" (string) (default: '')
  - "system" (string) (default: "generic")
  - "metas" (array) (default: []): array of strings ; each one corresponds to a meta item

  'extra_attributes': [
                 { 'name': 'role', 'value': 'button'},
                 { 'name': 'id', 'value': 'JoinGroupButton' },
                 { 'name': 'aria-label', 'value': group_join.label },
               ],


#}

{% set _variant = variant|default('') %}
{% set _identity = identity|default('') %}
{% set _breadcrumb = breadcrumb|default([]) %}
{% set _group_name = group_name|default('') %}
{% set _group_image = group_image|default('') %}
{% set _group_url = group_url|default('') %}
{% set _group_join = group_join|default('') %}
{% set _operation_links = operation_links|default([]) %}
{% set _metas = metas|default([]) %}
{% set _css_class = 'ecl-page-header' %}

{% set _primary_image = primary_image|default({}) %}

{# Internal logic - Process properties #}

{% if _variant is not empty %}
  {% set _css_class = _css_class ~ ' ecl-page-header--' ~ _variant %}
{% endif %}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

<div class="{{ _css_class }}">
  <div class="ecl-container">
    {% if _breadcrumb is not empty %}
      {% include '@ecl/generic-component-breadcrumb' with {
        'segments': _breadcrumb,
        'system': _system
      } only %}
    {% endif %}

  
    {% if _group_image is not empty or _identity is not empty or _metas is not empty or _group_name is not empty %}
      <div class="ecl-page-header__body">
        {% if _group_image is not empty %}
          <div class="bl-page-header__group-image">
            <a href="{{ group_url }}" title="{% trans %} Go to the {{ _group_name }} landing page {% endtrans %}">
              {% include '@ecl/generic-style-image' with {
                'src': _group_image.src,
                'srcs': _group_image.srcs,
                'alt': _group_image.alt,
              } only %}
            </a>
          </div>
        {% endif %}
        
        {% if _identity is not empty or _group_name is not empty or _metas is not empty %}
          <div class="bl-page-header__group-info">
            {% if _identity is not empty %}
              <div class="ecl-page-header__identity">
                {{ _identity }}
              </div>
            {% endif %}
            {% if _group_name is not empty %}
              <div class="ecl-page-header__title">
                <a href="{{ _group_url }}" title="{% trans %} Go to the {{ _group_name }} landing page {% endtrans %}">
                  <h1 class="ecl-heading ecl-heading--h1 ecl-u-color-white">{{ _group_name | raw }}</h1>
                </a>
              </div>
            {% endif %}
            {% if _metas is not empty %}
              <div class="ecl-page-header__meta">
                {% include '@ecl/generic-component-meta' with {
                  'variant': 'header',
                  'metas': _metas
                } only %}
              </div>
            {% endif %}
          </div>
        {% endif %}
        
          <div class="bl-page-header__join">
            {% if _operation_links | length == 1 %}
              {% include '@ecl/generic-component-button' with {
                'modifier': 'call',
                'href': _operation_links[0].href,
                'label': _operation_links[0].label,
                'extra_attributes': group_join.extra_attributes,
              } only %}
            {% elseif _operation_links | length > 1 %}
            <div class="ecl-dropdown" id="cnect-dropdown-groupheader-actions">
              {% include '@ecl/ec-component-button' with {
                'modifier': 'call',
                'label': 'Group Actions',
                'type_attribute': 'button',
                'extra_classes': 'ecl-expandable__button',
                'extra_attributes': [
                  { 'name': 'aria-controls', 'value': 'cnect-button-dropdown-groupheader-actions-body'},
                  { 'name': 'aria-expanded', 'value': 'false'},
                  { 'name': 'id', 'value': 'cnect-button-dropdown-groupheader-actions' },
                ]
              } %}
              {% include '@ecl/ec-component-link-block' with {
                'title': null,
                'extra_classes': 'ecl-dropdown__body',
                'extra_attributes': [
                  { 'name': 'id', 'value': 'cnect-button-dropdown-groupheader-actions-body' },
                  { 'name': 'aria-labelledby', 'value': 'cnect-button-dropdown-groupheader-actions'},
                  { 'name': 'aria-hidden', 'value': 'true'},
                ],
                'links': _operation_links,
              } %}
            </div>
            {% endif %}
        </div>
        
      </div>
    {% endif %}
  </div>
</div>