{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'media',
    'media--type-' ~ media.bundle()|clean_class,
    not media.isPublished() ? 'media--unpublished',
    view_mode ? 'media--view-mode-' ~ view_mode|clean_class,
  ]
%}
<article{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}
  {% if content.field_media_image %}
    {{ content.field_media_image }}
  {% endif %}
  {% if content.field_ngf_copyrights|render or content.field_ngf_author|render %}
    <p class="newsfeed__legend-copyright">
      {% if content.field_ngf_copyrights|render is not empty %}
         <span>{{ content.field_ngf_copyrights|field_value }}</span>
      {% endif %}
      {% if content.field_ngf_author|render is not empty %}
        <span>{{ content.field_ngf_author|field_value }}</span>
      {% endif %}
    </p>
  {% endif %}
</article>
