{#
/**
 * @file
 * Theme override to display a node.
 *
 * @see ./core/themes/stable/templates/content/node.html.twig
 */
#}

{% extends "node--fut-event.html.twig" %}

<article {{ attributes.addClass(classes) }}>
  {% block node_side %} 
  {% endblock node_side %}

  {% block node_content %}
    {{ parent() }}  
  {% endblock %}
</article>


{# {%
  set classes = [
    'bl-node',
    'bl-node--' ~ node.bundle|clean_class,
    node.isPromoted() ? 'bl-node--promoted',
    node.isSticky() ? 'bl-node--sticky',
    not node.isPublished() ? 'node--unpublished newsfeed__item--unpublished',
    view_mode ? 'bl-node--' ~ view_mode|clean_class,
  ]
%}


<article {{ attributes.addClass(classes) }}>
  {% block node_content %}  
  <div class="bl-node__content">
    <div class="bl-content">
      {% if not page %}
        <h3{{ title_attributes }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h3>
      {% endif %}
      <div {{ content_attributes }}>
        {{ content }}
      </div>
    </div>
  </div>
  {% endblock %}
</article> #}