{#
/**
 * @file
 * Theme override to display a node.
 *
 * @see ./core/themes/stable/templates/content/node.html.twig
 */
#}

{%
  set classes = [
    'teaser',
    'teaser--' ~ node.bundle|clean_class,
    node.isPromoted() ? 'teaser--promoted',
    node.isSticky() ? 'teaser--sticky',
    not node.isPublished() ? 'node--unpublished teaser--unpublished',
    view_mode ? 'teaser--' ~ view_mode|clean_class,
    clean_class,
  ]
%}

{# avatar_url #}
{% if node.uid.entity.user_picture.entity.uri.value is empty %}
  {% set avatar_url = file_url(directory ~ '/images/default_user.jpg') %}
{% else %}
  {% set avatar_url = file_url(node.uid.entity.user_picture.entity.uri.value|image_style('thumbnail')) %}
{% endif %}

{# Link to Author profile if users is logged in #}
{% if logged_in %}
  {% set author_link = path('entity.user.canonical', {'user': node.getOwnerId()}) %}
{% endif %}

<article {{ attributes.addClass(classes) }}>
  {% block teaser_header %}
    {% include '@cnectlib/cnect-teaser-header/cnect-teaser-header.html.twig' with {
      'group_short_name': 'Europass',
      'group_image': 'https://ec.europa.eu/futurium/sites/futurium/files/styles/thumbnail/public/european_union.jpg',
      'group_url': 'https://ec.europa.eu/futurium/en/europass',
      'content_type_name': 'my content type',
  } %}
  {% endblock teaser_header %}
  {% block teaser_body %}
    <div class="teaser__body">  
      <div class="teaser__content">
        {% if not page %}
          <h3{{ title_attributes }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
          </h3>
        {% endif %}
        <div {{ content_attributes }}>
          {{ content }}
        </div>
      </div>
    </div>
  {% endblock teaser_body %}
  {% block teaser_footer %} 
    <div class="teaser__footer">
      {{ content.fut_event_date }}
      {% include '@cnectlib/cnect-contentmeta/cnect-contentmeta.html.twig' with {
        'avatar_url': avatar_url,
        'author_link': author_link,
        'author_name': author_name,
        'date': date,
      } %}
    </div>
  {% endblock teaser_footer %}
</article>