{#
/**
 * @file
 * Theme override to display a node.
 *
 * @see ./core/themes/stable/templates/content/node.html.twig
 */
#}

{%
  set classes = [
    'bl-node',
    'bl-node--' ~ node.bundle|clean_class,
    node.isPromoted() ? 'bl-node--promoted',
    node.isSticky() ? 'bl-node--sticky',
    not node.isPublished() ? 'node--unpublished newsfeed__item--unpublished',
    view_mode ? 'bl-node--' ~ view_mode|clean_class,
    view_mode ? 'bl-node--' ~ view_mode|clean_class ~ '__' ~ node.bundle|clean_class,
  ]
%}



<article {{ attributes.addClass(classes) }}>
  
  {% block teaser_header %}
    <div class="teaser_header">
      <div class="content-type-name content-type-blog">Blog post</div>
      <div class="group-info ">
        <span class="picture"><a href="https://ec.europa.eu/futurium/en/europass">
            <img typeof="foaf:Image" src="https://ec.europa.eu/futurium/sites/futurium/files/styles/thumbnail/public/european_union.jpg?itok=hsC9IQNy" alt="Europass" title="Europass"></a>
        </span><span class="name"><a href="https://ec.europa.eu/futurium/en/europass">europass</a></span>
      </div>
    </div>
  {% endblock teaser_header %}


  {% block teaser_body %}
    <div class="teaser_body">
      {% block teaser_side %} 
        <div class="bl-node__side">
          {{ content.fut_event_date }}
        </div>
      {% endblock teaser_side %}
    
      {% block node_content %}  
        <div class="bl-node__content">
          <div class="bl-content">
            {% if not page %}
              <h3{{ title_attributes }}>
                <a href="{{ url }}" rel="bookmark">{{ label }}</a>
              </h3>
            {% endif %}
            <div {{ content_attributes }}>
              {{ content|without('fut_event_date') }}
            </div>
          </div>
        </div>
      {% endblock node_content %}
    </div>
  {% endblock teaser_body %}
</article>