<div class="vud-widget vud-widget-thumbs" id="{{ id }}">
  <div class="up-score clear-block">
    {% if show_links == true %}
      {% if show_up_as_link == true %}
        <a href="{{ link_up }}" rel="nofollow" class="{{ link_class_up }}" title="{% trans %} Vote up! {% endtrans %}">
      {% endif %}
      <div class="vote-thumb {{ class_up }}" title="{% trans %} Vote up! {% endtrans %}"></div>
      <div class="element-invisible">{% trans %} Vote up! {% endtrans %}</div>
      {% if show_up_as_link == true %}
        </a>
      {% endif %}
    {% endif %}
  </div>

  <div class="vote-current-score"><strong>{{ points }}</strong></div>

  <div class="down-score clear-block">
    {% if show_links == true %}
      {% if show_down_as_link == true %}
        <a href="{{ link_down }}" rel="nofollow" class="{{ link_class_down }}" title="{% trans %} Vote down! {% endtrans %}">
      {% endif %}
      <div class="vote-thumb {{ class_down }}" title="{% trans %} Vote down! {% endtrans %}"></div>
      <div class="element-invisible">{% trans %} Vote down! {% endtrans %}</div>
      {% if show_down_as_link == true %}
        </a>
      {% endif %}
    {% endif %}
  </div>

</div>

