{#
/**
 * @file
 * Image pattern.
 * {{kint(_context)}}
 * {{ kint(_context|keys) }}
 * {{ kint(content|keys) }}
 */
#}

<div class="date-block">
  <h3 class="lbl-date__label">Date</h3>
  <div class="date-block__body">
    {% if event_end_date.0 is empty %}
      <span>  {{ event_start_date }} <span>
    {% else %}
      <span>{% trans %} From {% endtrans %} {{ event_start_date }} {% trans %} to {% endtrans %} {{ event_end_date }}</span>
    {% endif %}
  </div>
</div>
