{#
/**
 * @file
 * profile networks pattern.
 */
#}

<ul class="profile__networks active">
  {% if profile_members %}
    <li class="profile__networks__item profile__members"><a href="{{ profile_members_uri }}">{{ profile_members }}</a></li>
  {% endif %}
  {% if profile_followers %}
    <li class="profile__networks__item profile__followers"><a href="{{ profile_followers_uri }}">{{ profile_followers }}</a></li>
  {% endif %}
  {% if profile_groups %}
    <li class="profile__networks__item profile__groups"><a href="{{ profile_groups_uri }}">{{ profile_groups }}</a></li>
  {% endif %}
  {% if profile_subgroups %}
    <li class="profile__networks__item profile__subgroups"><a href="{{ profile_subgroups_uri }}">{{ profile_subgroups }}</a></li>
  {% endif %}
</ul>
