{#
/**
 * @file
 * Blellow th implementation to display a group.
 *
 * Available variables:
 * - group: The group entity with limited access to object properties and
 *   methods. Only "getter" methods (method names starting with "get", "has",
 *   or "is") and a few common methods such as "id" and "label" are available.
 *   Calling other methods (such as group.delete) will result in an exception.
 * - label: The title of the group.
 * - content: All group items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the
 *   printing of a given child element.
 * - url: Direct URL of the current group.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - group: The current template type (also known as a "theming hook").
 *   - group--[type]: The current group type. For example, if the group is a
 *     "Classroom" it would result in "group--classroom". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - group--[view_mode]: The View Mode of the group; for example, a
 *     teaser would result in: "group--teaser", and full: "group--full".
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 *
 * @see template_preprocess_group()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'group',
    'group-landing-page',
    'wrapper',
  ]
%}

{# <img class="ecl-image ecl-image--fluid" alt="" src="/sites/default/files/styles/fut_image_medium/public/2019-05/beverage-breakfast-caffeine-2102818.jpg?itok=5ySUuIpc" width="800" height="533"> #}


<div{{ attributes.addClass(classes) }}>
   
  <div class="pre-featured">
    <article class="cta">
      <div class="cta__media">
        <img src="/{{ directory }}/images/bl_demo_image.jpg" class="ecl-image--fluid">
      </div>
      <div class="cta__body">
        <h2>Lorem ipsum dollar set amet</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel lacinia urna. Nulla venenatis vestibulum velit, ut pellentesque lacus faucibus at. Sed ut maximus nunc, a elementum leo. Donec eleifend tortor turpis, vitae convallis tortor aliquet sit amet. In vitae ante volutpat, eleifend nisl ac, malesuada urna. Quisque dapibus metus nec turpis pulvinar aliquet. Aliquam iaculis sapien nisl, eget elementum ligula convallis sed. Morbi vel quam ut enim ultricies varius. Praesent viverra aliquet sem id fringilla. Vestibulum in orci gravida, porta elit eu, hendrerit quam. Praesent non erat lectus. In cursus lorem nisi. Proin pellentesque vitae erat iaculis commodo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras at ante vel urna iaculis rutrum eu vitae felis.</p>
        <a href="#" class="ecl-button ecl-button--call ecl-button--caret-right">Lorem ipsum sit dolor amet nunc</a>
      </div>
    </article>
  </div>

  <div class="featured">
    <div class="view view-block-subgroups">
       {{ drupal_block('views_block:fut_group_subgroups_list-block_group_subgroups', wrapper=false) }}
    </div>
  </div>

  <div class="content">
    {{ drupal_block('views_block:fut_group_latest_publications-block_group_latest_posts') }}
  </div>
  <aside class="sidebar" role="complementary">
    {{ drupal_block('views_block:fut_user_popular_posts-block_user_popular_posts') }}
  </aside>

</div>
