{#
/**
 * @file
 * Blellow th implementation to display a group.
 *
 * Available variables:
 * - group: The group entity with limited access to object properties and
 *   methods. Only "getter" methods (method names starting with "get", "has",
 *   or "is") and a few common methods such as "id" and "label" are available.
 *   Calling other methods (such as group.delete) will result in an exception.
 * - label: The title of the group.
 * - content: All group items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the
 *   printing of a given child element.
 * - url: Direct URL of the current group.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - group: The current template type (also known as a "theming hook").
 *   - group--[type]: The current group type. For example, if the group is a
 *     "Classroom" it would result in "group--classroom". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - group--[view_mode]: The View Mode of the group; for example, a
 *     teaser would result in: "group--teaser", and full: "group--full".
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 *
 * @see template_preprocess_group()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'group',
    'group-landing-page',
    'wrapper',
  ]
%}

{% set group_id = group.id.value %}

<div{{ attributes.addClass(classes) }}>

  {# // PRINT CONTENT (INCLUDES fut_banner paragraph) #}

  {{ content|without('fut_navigation_menu') }}

  {# // PRINT SUBGROUPS LIST (CHECK IF VIEW RESULT IS EMPTY DID NOT WORK) #} 

  {{ drupal_block('views_block:fut_group_subgroups_list-block_group_subgroups') }}

  {# // PRINT GROUP LATEST PUBLICATIONS  #}

  {% if drupal_view_result('fut_group_latest_publications', 'block_group_latest_posts', 'group_id') is not null %}
    <div class="group-area content">
      {{ drupal_block('views_block:fut_group_posts-block_group_latest_posts') }}
    </div>
  {% endif %}

  {# // PRINT MOST POPULAR PUBLICATIONS IN GROUP  #}
  
  {% if drupal_view_result('fut_group_most_popular_publications', 'block_group_latest_posts', 'group_id') is not null %}
    <aside class="group-area sidebar" role="complementary">
      {{ drupal_block('views_block:fut_group_posts-block_group_most_popular_posts') }}
      {{ drupal_block('views_block:fut_group_block_events-event_block') }}
    </aside>
  {% endif %}

</div>
