{#
/**
 * @file
 * Theme override to display a single page.
 *
 * @see ./core/themes/stable/templates/layout/page.html.twig
 */
#}

{% block site_header %}
  <header class="ecl-site-header" role="banner">
    {# TODO: Where this verbose markup belongs to? here or withing the login widget? #}
    <div class="bl-site-header__top-bar">
      <div class="ecl-container ">
        {{ page.site_top_bar }}
      </div>
    </div>
    <div class="ecl-container ecl-site-header__banner">
      {{ page.site_header }}
    </div>
  </header>
{% endblock site_header %}

{% block page_header %}
  {% if page.page_header %}
    {{ page.page_header }}
  {% endif %}
{% endblock page_header %}

{% block navigation %}
  {{ page.navigation }}
{% endblock %}

{% block messages %}
{% endblock messages %}

{% block hero %}
{% endblock %}

{# Content #}
{% set content_classes = [
  page.sidebar_first and page.sidebar_second ? 'ecl-col-md-5',
  page.sidebar_first|render and page.sidebar_second|render|striptags|trim is empty ? 'ecl-col-md-8',
  page.sidebar_second|render and page.sidebar_first|render|striptags|trim is empty ? 'ecl-col-md-9',
  page.sidebar_first|render|striptags|trim is empty and page.sidebar_second|render|striptags|trim is empty ? 'ecl-col-md-12'
  ]
%}

{% block main %}

<div id="main-content" class="main-content ecl-u-mv-l {% block containerclass %}{% endblock %}"> 
  <div class="ecl-container">
    <div class="ecl-row">
      {# Sidebar First #}
      {% block sidebar_first %}
        {% if page.sidebar_first %}
          <aside class="ecl-col-md-4" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endif %}
      {% endblock %}

      {% block page_content %}
        <section {{ content_attributes.addClass(content_classes) }}>
          {{ page.content }}
        </section>
      {% endblock %}

      {# Sidebar Second #}
      {% block sidebar_second %}
        {% if page.sidebar_second %}
          <aside class="ecl-col-md-3" role="complementary">
            {{ page.sidebar_firstpage.sidebar_first }}
          </aside>
        {% endif %}
      {% endblock %}
    </div>
    
    {# Block featured groups #}
    {% block featured_groups %}
    {% endblock featured_groups %}
    
  </div>
</div>
{% endblock main %}

{% if page.footer %}
  {% block footer %}
    {{ page.footer }}
  {% endblock %}
{% endif %}