{#
/**
 * @file
 * Theme override to display a single page.
 *
 * @see ./core/themes/stable/templates/layout/page.html.twig
 */
#}

{% extends "page.html.twig" %}

{% if page.content_top or page.content_side %}
  {% block hero %}
    <div class="hero-content ecl-u-mv-l ecl-u-mb-xxl" >
      <div class="ecl-container">
        <div class="ecl-row">
          <div class="ecl-col-md-7">
            {% if page.content_top %}
              {% block content_top %}
                {{ page.content_top }}
              {% endblock %}
            {% endif %}
          </div>
          <aside class="ecl-col-md-5">
            {% if page.content_side %}
              {% block content_side %}
                {{ page.content_side }}
              {% endblock %}
            {% endif %}
          </aside>
        </div>
      </div>
    </div>
  {% endblock %}
{% endif %}

{# Content #}
{% set messages = drupal_block('system_messages_block') %}
{% set popular_posts = drupal_block('views_block:fut_group_posts-block_user_popular_posts') %}
{% set my_contributions = drupal_block('views_block:fut_my_contributions-block_my_contributions') %}
{% set my_events = drupal_block('views_block:fut_group_user_events-block_user_events') %}

  {% block messages %}
    {% if messages %}
      <div class="ecl-row">
        <div class="ecl-col-md-12">
          {{ messages }}
        </div>
      </div>
    {% endif %}
  {% endblock messages %}

  {% block page_content %}
    {% if popular_posts.content|length > 1 or my_contributions.content|length > 1 or my_events.content|length > 1 %}
      <div class="ecl-row">
        {% if logged_in %}
          <div class="ecl-col-md-7">
            {{ popular_posts }}
          </div>
          <aside class="ecl-col-md-5" role="complementary">
            {{ my_contributions }}
            {{ my_events }}
          </aside>
        {% endif %}
      </div>
    {% endif %}
  {% endblock page_content %}
    
  {% block featured_groups %}
    <div class="ecl-row">
      <div class="ecl-col-md-12">
         {{ drupal_block('views_block:fut_featured_groups-block_featured_groups') }}
      </div>
    </div>
  {% endblock featured_groups %}
  
{% block footer %}
  {{ parent() }}
{% endblock footer %}