{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}

{%
  set classes = [
    'user-full',
  ]
%}

<div {{ attributes.addClass(classes) }}>
  <div class="user-full__side">
    {{ content.user_picture }}
  </div>
  <div class="user-full__content">
    <div class="user-full-profile">
      {{ content|without('user_picture') }}
    </div>

    {# Latest activity (Posts) #}
    <div class="a">
    {% if drupal_view_result('fut_user_latest_activity', 'block_latest_posts', 'user') is not null %}
      {{ drupal_block('views_block:fut_user_latest_activity-block_latest_posts') }}
    {% endif %}
    </div>

    <div class="b">
    {# Latest comments #}
    {% if drupal_view_result('fut_user_latest_comments', 'block_user_latest_comments', 'user') is not null %}
      {{ drupal_block('views_block:fut_user_latest_comments-block_user_latest_comments') }}
    {% endif %}
    </div>

    <div class="c">
    {# Joined groups #}
    {% if drupal_view_result('fut_user_joined_groups', 'block_user_joined_groups', 'user') is not null %}
      {{ drupal_block('views_block:fut_user_joined_groups-block_user_joined_groups') }}
    {% endif %}
    </div>

    <div class="d">
    {# Latest activity (Events) #}
    {% if drupal_view_result('fut_user_latest_activity', 'block_latest_events', 'user') is not null %}
      {{ drupal_block('views_block:fut_user_latest_activity-block_latest_events') }}
    {% endif %}
    </div>
  </div>
</div>
